.booksInList {
    background: #7986CB;
    color: #fff;
    border-radius: 5px;
    padding: 20px 15px;
    margin: 0 0 0 15px;
}

.booksInList_books {
    padding: 20px 15px;
}

.single_list_book {
    padding: 20px 15px;
    background: #3D5AFE;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 5px 5px 10px #8C9EFF;
}

.single_list_book span {
    font-size: 20px;
    font-weight: bold;
}

div.selectedBook {
    background: #82B1FF;
    color: #000;
}