.sigle_book {
    padding: 20px 15px;
    margin-right: -15px;
}

.singleBookImg {
    text-align: center;
}

.singleBookImg img {
    height: 400px;
    width: 300px;
}

.singleBookDetail {
    margin: 30px;
    padding: 20px 15px;
    background: #7986CB;
    color: #fff;
    border-radius: 5px;
}

.singleBookDetail a {
    color: #FFF9C4;
}

.sigle_book_title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}