.app {
    width: 100%;
}

.title {
    background-color: #3F51B5;
    padding-bottom: 10px;
    color: #fff;
}

.title a {
    color: #fff;
}

.title a:hover {
    background-color: #7986CB;
}

.title a:focus {
    color: #000;
}

.titleDetail{
    border-radius: 3px;
    padding: 20px 16px;
    position: relative;
}

.title div button {
    float: right;
}

.main {
    min-height: 500px; 
} 

.titleHeading {
    display: block;
    width: 50%;
    float: left;
}
ul.nav {
    clear: both;
}