.wantList {
    width: 30%;
    background: #FFECB3;
    color: #000;
    border-radius: 3px;
    clear: both;
    position: absolute;
    right: 0;
    top: 60px;
    z-index: 10;
}

.wantList div {
    padding: 20px;
    border-bottom: 1px solid  #000;
}

.wantList div a {
    color: #3F51B5;
}