<div class="row allList">

    <div class="col-md-6 listView">
        <div *ngFor="let bookList of listsOnDisplay"
            [class.selectedBookList]="bookList === selectedBookList"
            (click)="onSelect(bookList)"
            class="bookList"
        >
            <app-bookList [bookList]=bookList></app-bookList>
        </div>

        <div class="bookListButton">
            <button class="btn btn-primary" (click)="previousSixLists()">Previous</button>
            <button class="btn btn-primary" (click)="nextSixLists()">Next</button>
        </div>
    </div>

    <div class="col-md-6">
        <div
            *ngIf="books"
            class="listPreview"
        >
            <h4>Top 4 On {{selectedBookList.list_name}}</h4>
            <div *ngFor="let book of books" class="bookPreview">
                <p><span class="bookTitle">{{book.title | bookTitle}} </span> by {{book.author}}</p>
            </div>
            <button class="btn btn-primary" [routerLink]="['/list' , selectedBookList.list_name]">Details of {{selectedBookList.list_name}}</button>
        </div>
    </div>

</div>