.allList {
    overflow: hidden;
    margin: 0;
}

.listView {
    background: #7986CB;
    color: #fff;
    padding: 20px 20px;
    border-radius: 5px;
}

.listPreview {
    color: #fff;
    background: #7986CB;
    padding: 20px;
    border-radius: 5px;
}

.listPreview h4 {
    text-align: center;
    padding: 20px 0;
}

.bookTitle {
    font-weight: bold;
    font-size: 20px;
}

.bookList {
    background: #3D5AFE;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #8C9EFF;
}

div.selectedBookList {
    background: #82B1FF;
    color: #000;
}

.bookListButton {
    margin-top: 20px;
}