<div class="row">
    <div class="col-md-6">
        <div *ngFor="let bookList of listsOnDisplay" 
            class=""
            [class.selected]="bookList === selectedBookList"
            (click)="onSelect(bookList)"
        >
            <app-bookList [bookList]=bookList></app-bookList>
        </div>
        <button (click)="previousSixLists()">Previous</button>
        <button (click)="nextSixLists()">Next</button>
    </div>
    <div class="col-md-6">
        <div
            *ngIf="books"
            class=""
        >
            <p>Top 4 On {{selectedBookList.list_name}}</p>
            <div *ngFor="let book of books">
                <p><span>{{book.title | bookTitle}} </span> by {{book.author}}</p>
            </div>
            <a [routerLink]="['/list' , selectedBookList.list_name]">See the details of {{selectedBookList.list_name}}</a>
        </div>
    </div>
</div>